---

        layout: page
        title: home
        main_category: home

---
<div class="row text-center">
  <div class="col-sm-0 col-md-2"></div>
  {% assign service = "architecture" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-lock" aria-hidden="true"></span>
    <div>
      security architecture
    </div>
  </div>
  {% assign service = "devops" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-gears" aria-hidden="true"></span>
    <div>
      devops
    </div>
  </div>
  {% assign service = "ci" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-refresh" aria-hidden="true"></span>
    <div>
      continuous integration
    </div>
  </div>
  {% assign service = "performance" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-tachometer" aria-hidden="true"></span>
    <div>
      performance engineering
    </div>
  </div>
  <div class="col-sm-0 col-md-2"></div>
</div>
<div class="row text-center">
  <div class="col-sm-0 col-md-2"></div>
  {% assign service = "design" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-pencil" aria-hidden="true"></span>
    <div>
      design
    </div>
  </div>
  {% assign service = "implementation" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-code-fork" aria-hidden="true"></span>
    <div>
      implementation
    </div>
  </div>
  {% assign service = "design" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-eye" aria-hidden="true"></span>
    <div>
      architectural audit
    </div>
  </div>
  {% assign service = "design" %}
  <div class="col-sm-3 col-md-2 service" {% include services-popovers/data-attributes %}>
    <span class="fa fa-mortar-board" aria-hidden="true"></span>
    <div>
      coaching and mentoring
    </div>
  </div>
  <div class="col-sm-0 col-sm-2"></div>
</div>

  {% include download-cv %}

<div class="row invite-contact text-center">
    <a href="mailto:yo@johanpeeters.com">Contact me</a> to discuss how I can help you achieve your goals.
</div>
