@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";

html {
  font-size: 100%;
}

.primary-menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    color: #303030;
    line-height: 1.2;
    font-size: 2.5em;
    margin-top: 0.25em;
    padding-top: 43px;
}

.nav > li > a {
    color: #777;
    padding-left: 0;
}

ul.nav {
    text-transform: capitalize;
}

.nav > li {
    left: 0;
}

ul.nav > li > a {
    border-width: 0;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: 0.1em;
}

.nav-justified > li {
    display: table-cell;
    width: 1%;
}

a.navbar-left:hover {
    text-decoration: none;
}

a {
  color: #d5000d;
  text-decoration: none;
}
a:hover {
  color: #c5000c;
}

.media:first-child {
    margin-top: 1em;
}

img {
    float: left;
    max-width: 8.73em;
}

ul {
   padding-left: 0.15em;
}

li {
    position: relative;
    left: 1em;

}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  position: fixed;
  bottom: 1em;
  font-size: 0.8em;
  color: #aaa;
  width: 100%;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

footer p{
  text-align: center;
}

@media only screen
and (min-device-width : 321px) {
    body{
        font-size: 1em;
    }
}

