@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";

html {
  font-size: 100%;
}

.primary-menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #7f7868;
    line-height: 1.2;
    font-size: 2.5em;
    margin-top: 0.25em;
    padding-top: 43px;
}

.nav > li > a {
    color: white;
    text-transform: uppercase;
}

ul.nav {
    text-transform: capitalize;
    background-image: none;
    border: none;
    background-color: #7f7868;
}

.nav > li {
    left: 0;
}

ul.nav > li > a {
    border: none;
}

.nav-justified > li {
    display: table-cell;
    width: 1%;
}

a.navbar-left:hover {
    text-decoration: none;
}

a {
  color: #d5000d;
  text-decoration: none;
}
a:hover {
  color: #c5000c;
}

img {
    float: left;
    max-width: 8.73em;
}

ul {
   padding-left: 0.15em;
}

li {
    position: relative;
    left: 1em;

}

@media only screen
and (min-device-width : 321px) {
    body{
        font-size: 1em;
    }
}

