---
---
$border-radius-base: 0em;
$brand-primary: rgb(116, 170, 171);
$link-hover-decoration: none;
$gray-base: rgb(100, 100, 100);
$text-color: $gray-base;
$navbar-height: 75px;
$navbar-inverse-link-color: white;
$navbar-inverse-link-active-color: $brand-primary;
$navbar-inverse-link-hover-color: $brand-primary;
$navbar-inverse-bg: rgb(64, 64, 64);
$navbar-inverse-border: $navbar-inverse-bg;
$navbar-margin-bottom: 0;
$font-family-sans-serif: Rubik, Helvetica, Arial, sans-serif;

@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700);
@import url(https://fonts.googleapis.com/css?family=Monda:400,700);
@import url(https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css);

$menu-font-size: 0.5em;
$max-img-width: 8.73em;

html {
  font-size: 100%;
}

.container-fluid {
  padding: 0;
}

.navbar-nav {
  margin: 0;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.summary {
  text-align: center;
  background-color: $navbar-inverse-bg;
  p {
    margin: 1.5em 0;
    font-family: Monda;
  }
}

.header {
  display: inline-flex;
  flex-direction: column;
  h1 {
    font-weight: 900;
    color: $gray-dark;
    margin-top: 0.25em;
    display: inline-flex;
    margin-bottom: -0.125em;
  }
  .bvba {
    font-size: 0.7em;
    color: $gray-dark;
    text-align: right;
  }
}

ul {
  li {
    position: relative;
    left: 1em;
  }
  &.navbar-nav {
    text-transform: uppercase;
    border: none;
    font-size: $menu-font-size;
  }
}

img {
    float: left;
    max-width: $max-img-width;
    margin-right: 0.5em;
}

.glyphicon {
  margin-top: 3em;
  font-variant: small-caps;
  text-align: center;
  div {
    font-family: Monda;
    font-weight: bold;
    margin-top: 1em;
  }
}

.media {
  -webkit-column-count: 2;
  column-count: 2;
}

.navbar-collapse {
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 4em;
  }
}

@media only screen
and (min-device-width : 321px) {
    body{
        font-size: 1em;
    }
}
