@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";

html {
  font-size: 100%;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    color: #303030;
    line-height: 1.2;
    font-size: 2.5em;
    margin-top: 0.5em;
}

.navbar-header a:hover {
    text-decoration: none;
}

.navbar {
    border-style: none;
}

.navbar-toggle{
    margin-top: 1.5em;
}

.navbar-collapse {
    padding-left: 0;
    clear: left;
}

.navbar-default {
    background-image: none;
    box-shadow: none;
    background-color: #ffffff;
}

.navbar-nav {
    margin: 0;
}

ul.nav {
    text-transform: capitalize;
}

.nav > li {
    left: 0;
}

ul.nav > li > a {
    border-width: 0;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: 0.1em;
}

.navbar-nav > li > a {
    text-shadow: none;
    padding-left: 0;
}

a {
  color: #d5000d;
  text-decoration: none;
}
a:hover {
  color: #c5000c;
}

img {
    float: left;
    max-width: 8.73em;
}

ul {
   padding-left: 0.15em;
}

li {
    position: relative;
    left: 1em;

}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  position: fixed;
  bottom: 1em;
  font-size: 0.8em;
  color: #aaa;
  width: 100%;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

footer p{
  text-align: center;
}

@media only screen
and (min-device-width : 321px) {
    body{
        font-size: 1em;
    }
}

@media only screen
and (min-width: 768px) {
    ul.nav > li > a {
        border-top-width: 0.1em;
    }
}
