---
---
$border-radius-base: 0em;
$brand-primary: rgb(116, 170, 171);
$link-hover-decoration: none;
$navbar-inverse-link-color: white;
$navbar-inverse-link-active-color: $brand-primary;
$navbar-inverse-link-hover-color: $brand-primary;
$navbar-inverse-bg: rgb(64, 64, 64);

@import "bootstrap";

$menu-font-size: 0.5em;
$font-color: #414141;
$color-shift: #100001;
$hovered-link-color: $link-color - $color-shift;
$max-img-width: 8.73em;
$ul-padding-left: 0.15em;

html {
  font-size: 100%;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    color: $font-color;
    line-height: 1.2;
    font-size: 2.5em;
    margin-top: 0.25em;
    padding-top: 43px;
}

ul {
   padding-left: $ul-padding-left;
   li {
     position: relative;
     left: 1em;
   }
   &.navbar-nav {
     list-style-type: none;
     text-transform: uppercase;
     border: none;
     font-size: $menu-font-size;
     padding-top: $menu-font-size * 3;
   }
}

a {
  text-decoration: none;
  &:hover {
    color: $hovered-link-color;
  }
}

img {
    float: left;
    max-width: $max-img-width;
    margin-right: 0.5em;
}

.media {
  -webkit-column-count: 2;
  column-count: 2;
}

.navbar-collapse {
  padding: 0;
}

@media only screen
and (min-device-width : 321px) {
    body{
        font-size: 1em;
    }
}
