{% include header %}

{% include content_with_picture %}

            <div class="row">
                <div class="col-xs-0 col-md-2"></div>
                <div class="col-xs-12 col-md-8">
                    <ul class="nav nav-justified">
                      <li><a href="/cv/academic.html">academic</a></li>
                      <li><a href="/cv/index.html">Professional</a></li>
                      <li><a href="#">Community</a></li>
                      <li><a href="#">Publications</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-8"></div>
            </div>

{% include footer %}
