---
layout: page
---

<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8 media">
      <img class="media-object" src="/images/JohanPeeters.png" alt="Johan Peeters" title="Johan Peeters"/>
    <div class="media-body">
      {{ content }}
    </div>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>

{% include download-cv %}
