{% include header %}

            <ul class="nav nav-tabs nav-justified">
              <li><a href="/cv/academic.html">academic</a></li>
              <li><a href="#">Professional</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Publications</a></li>
            </ul>

{% include content_with_picture %}

{% include footer %}