<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
    <title>Johan Peeters bvba</title>
    <meta name="author" content="Johan Peeters"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;"/>
    <style typ="text/css">
        #{{page.title}}, #{{page.title}} a {
            background-color: #777;
            color: #303030;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <header>
                <a href="index.html">
                  <h1>
                    Johan Peeters bvba
                  </h1>
                </a>
            </header>
        </div>
        <div class="col-xs-0 col-md-2"></div>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
                <a  href="contact.html" id="contact" title="Contact Johan Peeters bvba">contact</a>
            </li>
            <li>
                <a  href="cv.html" id="cv" title="CV">cv</a>
            </li>
            <li>
                <a  href="papers.html" id="writing" title="Patents and publications">writing</a>
            </li>
            <li>
                <a  href="teaching.html" id="teaching" title="teaching">teaching</a>
            </li>
            <li>
                <a  href="events.html" id="events" title="Events">events</a>
            </li>
           </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="/images/JohanPeeters.png" alt="Johan Peeters" title="Johan Peeters"/>
              </a>
              {{ content}}
            </div>
        </div>
        <div class="col-xs-0 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
        </div>
        <div class="col-xs-0 col-md-2"></div>
    </div>

</div>

            <footer>
                <p>
                    &copy; Copyright 2003&#8211;2013 <a href="/">Johan Peeters bvba</a>,
                    updated Sunday, 01-Dec-2013.
                </p>
            </footer>

<script src="javascript/jquery-1.10.2.min.js"></script>
<script src="javascript/bootstrap.min.js"></script>
<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-1113451-3');ga('send','pageview');
</script>

</body>
</html>
