<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Johan Peeters bvba</title>
    <meta name="author" content="Johan Peeters">
    <meta http-equiv="Content-Type" content="text/html; charset=latin1" />
    <meta name="description" content="Johan Peeters's Homepage">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
</head>
<body>

<header>

    <div id="logo">
        Johan Peeters bvba
    </div>
    <div>

        <ul id="navcontainer">

            <li>
                <a  href="index.html" title="Johan Peeters bvba">home</a>
            </li>


            <li>
                <a  href="contact.html" title="Contact Johan Peeters bvba">contact</a>
            </li>


            <li>
                <a  href="cv/cv.html" title="CV">cv</a>
            </li>


            <li>
                <a  href="papers.html" title="Patents and publications">writing</a>		</li>


            <li>
                <a  href="teaching.html" title="teaching">teaching</a>
            </li>


            <li>
                <a  href="events.html" title="Events">events</a>
            </li>

        </ul>
    </div>


</header>

<div id="maincontent">

{{ content}}

</div>
<div id="footer">
	
	<p>
		&copy; Copyright 2003&#8211;2013 <a href="http://johanpeeters.com">Johan Peeters bvba</a>,
		updated Monday, 07-Oct-2013.
	</p>
</div>
</body>
</html>
